button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
    margin: auto;
    display: flex;
    height: 100%;
    box-sizing: content-box; 
    /* padding: 10px;
    padding-right: 15px;  */
    
}

button:focus {
    outline: none;
}

.nav-bar {
    position: absolute;
    background-color: rgba(240, 235, 235, 0.6);
    z-index: 10;
    height: 10%;
    min-height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nav-bar button {
    list-style: none;
    color: #ffffff;
    text-shadow: -2px 2px black, -2px 0 black, 2px 0 black, 0 -2px black;
    font-size: 20px;
    margin: auto;
}

.menu-selected {
    /* background-color: rgba(255, 255, 250, 0.6); */
    background-color: #d5dcc3;
}

.main-page2 {
    width: 16.37%;
}

.about-me2 {
    width: 18.96%;
}

.proyects2 {
    width: 21.12%;
}

.tools2 {
    width: 23.35%;
}

.contact-me2 {
    width: 20.18%;
}