.tools-container {
    display: flex;
    background-color: #d5dcc3;
    position: absolute;
    flex-flow: row;
    flex-wrap: wrap;
}

.devicon-github-plain, .devicon-git-plain, .devicon-css3-plain, .devicon-html5-plain, .devicon-javascript-plain, .devicon-nodejs-plain, .devicon-react-original, .devicon-slack-plain, .devicon-visualstudio-plain, .devicon-bootstrap-plain {
    margin: auto;
    font-size: 70px;
    color: #ffffff;
    padding: 20px;
}

.devicon-github-plain:hover, .devicon-git-plain:hover, .devicon-css3-plain:hover, .devicon-html5-plain:hover, .devicon-javascript-plain:hover, .devicon-nodejs-plain:hover, .devicon-react-original:hover, .devicon-slack-plain:hover, .devicon-visualstudio-plain:hover, .devicon-bootstrap-plain:hover {
    cursor: pointer;
}

.icons-container {
    width: 60%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* border: solid 1px black; */
}

.description-container {
    width: 80%;
    margin: auto;
    height: fit-content;
    /* background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px; */

}
