@font-face {
  font-family: 'Zelda';
  src: url("./fonts/The\ Wild\ Breath\ of\ Zelda.otf") format("opentype");
}

html, body, #root, .App, div {
  height: 100%;
  width: 100%;
  font-family: 'Zelda';
}


.App {
  /* background-image: url('./img/Background2.png'); */
  background-image: url('./img/pexels-photo-1006107.png');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(247, 245, 245, 0.2);
  height: 100%;
  width: 100%;
  display: flex;
}

.menu-fade-appear {
  opacity: 0;
  z-index: 1;
}

.menu-fade-appear.menu-fade-appear-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

.menu-fade-exit {
  opacity: 1;
}

.menu-fade-enter {
  opacity: 0;
  z-index: 1;
}

.menu-fade-enter.menu-fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

.menu-fade-exit.menu-fade-exit-active {
  opacity: 0;
  transition: opacity 600ms linear;
}

.menu-fade-exit-done {
  opacity: 0;
}
